﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Lab01_1212244_GIT_Bitbucket.Default" %>

<!DOCTYPE html>	
<html>
<head>
	<meta charset="utf-8">
	<title> GitBucket </title>
	
	<style>
		h1{
			color: red;
			font-family: Cambria;
			text-align: center;
		}
		
		p1{
			color: grey;
			font-family: Cambria;
		}
	</style>
</head>

<body>
	<h1> Lab01: GitBucket </h1> <hr>
	
	<p1>
		Fullname: Bui Xuan Nam <br>
		Student code: 1212244 <br>
		Email: 1212244@student.hcmus.edu.vn <br>
		Avatar: <br>
		<img src="1212244.jpg" style="width:150px;height:150px;">
        School: Ho Chi Minh University of Science <br>
	</p1>
</body>
</html>